
<ul class="collection">
    <a href="#!" class="collection-item avatar" (click)="ShowUser()">
        <i class="fas fa-user-friends circle"></i>
        <h4>Users</h4>
    </a>
    <a href="#!" class="collection-item avatar" (click)="ShowData()">
        <i class="fas fa-database circle"></i>
        <h4>Data</h4>
    </a>
    <a href="#!" class="collection-item avatar" (click)="ShowData()">
        <i class="fas fa-calendar-week circle"></i>        
        <h4>Calender</h4>
    </a>
    <a href="#!" class="collection-item avatar" (click)="ShowData()">
        <i class="fas fa-database circle"></i>
        <h4>Data</h4>
    </a>
</ul>